.floating-button{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#00A4E3;
  color:#FFF;
  border: none;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #000000;
}

.floating-button:hover{
  background-color:#00aff5;
}