/* App.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121214;
    color: #333;
  }

  .app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .header {
    text-align: left;
    margin-bottom: 20px;
  }

  .trilhas{

  }

  .SuasTrilhas{
    text-align: left;
    color: #333;
    width: 800px;
    height: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-right: 100px;
  }

  .main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .trail {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 25px;
  }

  .trail-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #666;
  }

  .trail-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .trail-content span {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .icons {
    display: flex;
    gap: 10px;
  }

  .icon {
    font-size: 1.2rem;
    cursor: pointer;
    color: #007bff;
  }


